In [1]:
import requests
import pandas as pd 
import numpy as np

# Banten

In [2]:
resp_banten = requests.get('https://data.covid19.go.id/public/api/prov_detail_BANTEN.json')
resp_banten

In [3]:
prov_banten_raw = resp_banten.json()
prov_banten_raw.keys()

dict_keys(['last_date', 'provinsi', 'kasus_total', 'kasus_tanpa_tgl', 'kasus_dengan_tgl', 'meninggal_persen', 'meninggal_tanpa_tgl', 'meninggal_dengan_tgl', 'sembuh_persen', 'sembuh_tanpa_tgl', 'sembuh_dengan_tgl', 'list_perkembangan', 'data'])

In [4]:
prov_banten = prov_banten_raw['list_perkembangan']
prov_banten = pd.DataFrame(prov_banten)

In [5]:
print(prov_banten.info())
prov_banten

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tanggal                       454 non-null    int64
 1   KASUS                         454 non-null    int64
 2   MENINGGAL                     454 non-null    int64
 3   SEMBUH                        454 non-null    int64
 4   DIRAWAT_OR_ISOLASI            454 non-null    int64
 5   AKUMULASI_KASUS               454 non-null    int64
 6   AKUMULASI_SEMBUH              454 non-null    int64
 7   AKUMULASI_MENINGGAL           454 non-null    int64
 8   AKUMULASI_DIRAWAT_OR_ISOLASI  454 non-null    int64
dtypes: int64(9)
memory usage: 32.0 KB
None

,tanggal,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,1583452800000,1,0,1,0,1,1,0,0
1,1583539200000,0,0,0,0,1,1,0,0
2,1583625600000,1,0,3,-2,2,4,0,-2
3,1583712000000,0,0,0,0,2,4,0,-2
4,1583798400000,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...
449,1622246400000,72,3,72,-3,49277,46413,1250,1614
450,1622332800000,46,0,60,-14,49323,46473,1250,1600
451,1622419200000,153,2,279,-128,49476,46752,1252,1472
452,1622505600000,119,1,30,88,49595,46782,1253,1560
453,1622592000000,69,0,55,14,49664,46837,1253,1574

In [6]:
prov_banten['tanggal'] = pd.to_datetime(prov_banten['tanggal']*1e6 ,unit='ns')
prov_banten.insert(1, 'provinsi', 'Banten')
prov_banten

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
449,2021-05-29,Banten,72,3,72,-3,49277,46413,1250,1614
450,2021-05-30,Banten,46,0,60,-14,49323,46473,1250,1600
451,2021-05-31,Banten,153,2,279,-128,49476,46752,1252,1472
452,2021-06-01,Banten,119,1,30,88,49595,46782,1253,1560
453,2021-06-02,Banten,69,0,55,14,49664,46837,1253,1574

# DKI Jakarta

In [7]:
resp_dki = requests.get('https://data.covid19.go.id/public/api/prov_detail_DKI_JAKARTA.json')
resp_dki

In [8]:
prov_dki_raw = resp_dki.json()
prov_dki = prov_dki_raw['list_perkembangan']
prov_dki = pd.DataFrame(prov_dki)
prov_dki['tanggal'] = pd.to_datetime(prov_dki['tanggal']*1e6 ,unit='ns')
prov_dki.insert(1, 'provinsi', 'DKI Jakarta')
prov_dki

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-01,DKI Jakarta,2,0,0,2,2,0,0,2
1,2020-03-02,DKI Jakarta,2,0,0,2,4,0,0,4
2,2020-03-03,DKI Jakarta,2,0,0,2,6,0,0,6
3,2020-03-04,DKI Jakarta,2,0,0,2,8,0,0,8
4,2020-03-05,DKI Jakarta,0,1,0,-1,8,0,1,7
...,...,...,...,...,...,...,...,...,...,...
454,2021-05-29,DKI Jakarta,898,12,998,-112,428232,410385,7126,10721
455,2021-05-30,DKI Jakarta,1064,13,1004,47,429296,411389,7139,10768
456,2021-05-31,DKI Jakarta,726,19,581,126,430022,411970,7158,10894
457,2021-06-01,DKI Jakarta,519,11,509,-1,430541,412479,7169,10893
458,2021-06-02,DKI Jakarta,601,20,587,-6,431142,413066,7189,10887

In [9]:
prov_id = pd.concat([prov_banten, prov_dki], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
908,2021-05-29,DKI Jakarta,898,12,998,-112,428232,410385,7126,10721
909,2021-05-30,DKI Jakarta,1064,13,1004,47,429296,411389,7139,10768
910,2021-05-31,DKI Jakarta,726,19,581,126,430022,411970,7158,10894
911,2021-06-01,DKI Jakarta,519,11,509,-1,430541,412479,7169,10893
912,2021-06-02,DKI Jakarta,601,20,587,-6,431142,413066,7189,10887

# Jawa Barat

In [10]:
resp_jabar = requests.get('https://data.covid19.go.id/public/api/prov_detail_JAWA_BARAT.json')
resp_jabar

In [11]:
prov_jabar_raw = resp_jabar.json()
prov_jabar = prov_jabar_raw['list_perkembangan']
prov_jabar = pd.DataFrame(prov_jabar)
prov_jabar['tanggal'] = pd.to_datetime(prov_jabar['tanggal']*1e6 ,unit='ns')
prov_jabar.insert(1, 'provinsi', 'Jawa Barat')
prov_jabar

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-02,Jawa Barat,3,0,0,3,3,0,0,3
1,2020-03-03,Jawa Barat,1,1,0,0,4,0,1,3
2,2020-03-04,Jawa Barat,1,0,0,1,5,0,1,4
3,2020-03-05,Jawa Barat,1,0,0,1,6,0,1,5
4,2020-03-06,Jawa Barat,1,0,0,1,7,0,1,6
...,...,...,...,...,...,...,...,...,...,...
453,2021-05-29,Jawa Barat,927,7,893,27,311993,278183,4165,29645
454,2021-05-30,Jawa Barat,640,10,481,149,312633,278664,4175,29794
455,2021-05-31,Jawa Barat,1316,24,1207,85,313949,279871,4199,29879
456,2021-06-01,Jawa Barat,892,10,2041,-1159,314841,281912,4209,28720
457,2021-06-02,Jawa Barat,930,22,2877,-1969,315771,284789,4231,26751

In [12]:
prov_id = pd.concat([prov_id, prov_jabar], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
1366,2021-05-29,Jawa Barat,927,7,893,27,311993,278183,4165,29645
1367,2021-05-30,Jawa Barat,640,10,481,149,312633,278664,4175,29794
1368,2021-05-31,Jawa Barat,1316,24,1207,85,313949,279871,4199,29879
1369,2021-06-01,Jawa Barat,892,10,2041,-1159,314841,281912,4209,28720
1370,2021-06-02,Jawa Barat,930,22,2877,-1969,315771,284789,4231,26751

# Jawa Tengah

In [13]:
resp_jateng = requests.get('https://data.covid19.go.id/public/api/prov_detail_JAWA_TENGAH.json')
resp_jateng

In [14]:
prov_jateng_raw = resp_jateng.json()
prov_jateng = prov_jateng_raw['list_perkembangan']
prov_jateng = pd.DataFrame(prov_jateng)
prov_jateng['tanggal'] = pd.to_datetime(prov_jateng['tanggal']*1e6 ,unit='ns')
prov_jateng.insert(1, 'provinsi', 'Jawa Tengah')
prov_jateng

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-11,Jawa Tengah,1,1,0,0,1,0,1,0
1,2020-03-12,Jawa Tengah,0,0,0,0,1,0,1,0
2,2020-03-13,Jawa Tengah,0,0,0,0,1,0,1,0
3,2020-03-14,Jawa Tengah,0,0,0,0,1,0,1,0
4,2020-03-15,Jawa Tengah,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
444,2021-05-29,Jawa Tengah,1050,20,660,370,198199,179691,9145,9363
445,2021-05-30,Jawa Tengah,1006,9,273,724,199205,179964,9154,10087
446,2021-05-31,Jawa Tengah,881,22,576,283,200086,180540,9176,10370
447,2021-06-01,Jawa Tengah,851,23,122,706,200937,180662,9199,11076
448,2021-06-02,Jawa Tengah,739,42,161,536,201676,180823,9241,11612

In [15]:
prov_id = pd.concat([prov_id, prov_jateng], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
1815,2021-05-29,Jawa Tengah,1050,20,660,370,198199,179691,9145,9363
1816,2021-05-30,Jawa Tengah,1006,9,273,724,199205,179964,9154,10087
1817,2021-05-31,Jawa Tengah,881,22,576,283,200086,180540,9176,10370
1818,2021-06-01,Jawa Tengah,851,23,122,706,200937,180662,9199,11076
1819,2021-06-02,Jawa Tengah,739,42,161,536,201676,180823,9241,11612

# DIY

In [16]:
resp_diy = requests.get('https://data.covid19.go.id/public/api/prov_detail_DAERAH_ISTIMEWA_YOGYAKARTA.json')
resp_diy

In [17]:
prov_diy_raw = resp_diy.json()
prov_diy = prov_diy_raw['list_perkembangan']
prov_diy = pd.DataFrame(prov_diy)
prov_diy['tanggal'] = pd.to_datetime(prov_diy['tanggal']*1e6 ,unit='ns')
prov_diy.insert(1, 'provinsi', 'Daerah Istimewa Yogyakarta')
prov_diy

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-16,Daerah Istimewa Yogyakarta,1,0,0,1,1,0,0,1
1,2020-03-17,Daerah Istimewa Yogyakarta,0,0,0,0,1,0,0,1
2,2020-03-18,Daerah Istimewa Yogyakarta,0,0,0,0,1,0,0,1
3,2020-03-19,Daerah Istimewa Yogyakarta,0,0,0,0,1,0,0,1
4,2020-03-20,Daerah Istimewa Yogyakarta,1,0,1,0,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...
439,2021-05-29,Daerah Istimewa Yogyakarta,211,9,169,33,44412,41135,1164,2113
440,2021-05-30,Daerah Istimewa Yogyakarta,176,12,167,-3,44588,41302,1176,2110
441,2021-05-31,Daerah Istimewa Yogyakarta,158,7,141,10,44746,41443,1183,2120
442,2021-06-01,Daerah Istimewa Yogyakarta,219,9,178,32,44965,41621,1192,2152
443,2021-06-02,Daerah Istimewa Yogyakarta,268,4,130,134,45233,41751,1196,2286

In [18]:
prov_id = pd.concat([prov_id, prov_diy], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
2259,2021-05-29,Daerah Istimewa Yogyakarta,211,9,169,33,44412,41135,1164,2113
2260,2021-05-30,Daerah Istimewa Yogyakarta,176,12,167,-3,44588,41302,1176,2110
2261,2021-05-31,Daerah Istimewa Yogyakarta,158,7,141,10,44746,41443,1183,2120
2262,2021-06-01,Daerah Istimewa Yogyakarta,219,9,178,32,44965,41621,1192,2152
2263,2021-06-02,Daerah Istimewa Yogyakarta,268,4,130,134,45233,41751,1196,2286

# Jawa Timur

In [19]:
resp_jatim = requests.get('https://data.covid19.go.id/public/api/prov_detail_JAWA_TIMUR.json')
resp_jatim

In [20]:
prov_jatim_raw = resp_jatim.json()
prov_jatim = prov_jatim_raw['list_perkembangan']
prov_jatim = pd.DataFrame(prov_jatim)
prov_jatim['tanggal'] = pd.to_datetime(prov_jatim['tanggal']*1e6 ,unit='ns')
prov_jatim.insert(1, 'provinsi', 'Jawa Timur')
prov_jatim

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-01-08,Jawa Timur,9,3,1,5,9,1,3,5
1,2020-01-09,Jawa Timur,0,1,23,-24,9,24,4,-19
2,2020-01-10,Jawa Timur,0,1,14,-15,9,38,5,-34
3,2020-01-11,Jawa Timur,0,3,8,-11,9,46,8,-45
4,2020-01-12,Jawa Timur,0,3,1,-4,9,47,11,-49
...,...,...,...,...,...,...,...,...,...,...
507,2021-05-29,Jawa Timur,255,19,202,34,154315,140947,11295,2073
508,2021-05-30,Jawa Timur,217,17,160,40,154532,141107,11312,2113
509,2021-05-31,Jawa Timur,249,31,226,-8,154781,141333,11343,2105
510,2021-06-01,Jawa Timur,225,22,170,33,155006,141503,11365,2138
511,2021-06-02,Jawa Timur,239,28,204,7,155245,141707,11393,2145

In [21]:
prov_id = pd.concat([prov_id, prov_jatim], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
2771,2021-05-29,Jawa Timur,255,19,202,34,154315,140947,11295,2073
2772,2021-05-30,Jawa Timur,217,17,160,40,154532,141107,11312,2113
2773,2021-05-31,Jawa Timur,249,31,226,-8,154781,141333,11343,2105
2774,2021-06-01,Jawa Timur,225,22,170,33,155006,141503,11365,2138
2775,2021-06-02,Jawa Timur,239,28,204,7,155245,141707,11393,2145

# Bali

In [22]:
resp_bali = requests.get('https://data.covid19.go.id/public/api/prov_detail_BALI.json')
resp_bali

In [23]:
prov_bali_raw = resp_bali.json()
prov_bali = prov_bali_raw['list_perkembangan']
prov_bali = pd.DataFrame(prov_bali)
prov_bali['tanggal'] = pd.to_datetime(prov_bali['tanggal']*1e6 ,unit='ns')
prov_bali.insert(1, 'provinsi', 'Bali')
prov_bali

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-11,Bali,1,1,0,0,1,0,1,0
1,2020-03-12,Bali,0,0,0,0,1,0,1,0
2,2020-03-13,Bali,0,0,0,0,1,0,1,0
3,2020-03-14,Bali,0,0,0,0,1,0,1,0
4,2020-03-15,Bali,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
444,2021-05-29,Bali,49,3,72,-26,47170,44772,1363,1035
445,2021-05-30,Bali,42,2,54,-14,47212,44826,1365,1021
446,2021-05-31,Bali,44,2,85,-43,47256,44911,1367,978
447,2021-06-01,Bali,28,1,50,-23,47284,44961,1368,955
448,2021-06-02,Bali,33,1,75,-43,47317,45036,1369,912

In [24]:
prov_id = pd.concat([prov_id, prov_bali], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
3220,2021-05-29,Bali,49,3,72,-26,47170,44772,1363,1035
3221,2021-05-30,Bali,42,2,54,-14,47212,44826,1365,1021
3222,2021-05-31,Bali,44,2,85,-43,47256,44911,1367,978
3223,2021-06-01,Bali,28,1,50,-23,47284,44961,1368,955
3224,2021-06-02,Bali,33,1,75,-43,47317,45036,1369,912

# NUSA TENGGARA BARAT
# NUSA TENGGARA TIMUR

In [25]:
resp_ntb = requests.get('https://data.covid19.go.id/public/api/prov_detail_NUSA_TENGGARA_BARAT.json')
resp_ntt = requests.get('https://data.covid19.go.id/public/api/prov_detail_NUSA_TENGGARA_TIMUR.json')
print(resp_ntb)
print(resp_ntt)

<Response [200]>
<Response [200]>

In [26]:
#ntb
prov_ntb_raw = resp_ntb.json()
prov_ntb = prov_ntb_raw['list_perkembangan']
prov_ntb = pd.DataFrame(prov_ntb)
prov_ntb['tanggal'] = pd.to_datetime(prov_ntb['tanggal']*1e6 ,unit='ns')
prov_ntb.insert(1, 'provinsi', 'Nusa Tenggara Barat')

#ntt
prov_ntt_raw = resp_ntt.json()
prov_ntt = prov_ntt_raw['list_perkembangan']
prov_ntt = pd.DataFrame(prov_ntt)
prov_ntt['tanggal'] = pd.to_datetime(prov_ntt['tanggal']*1e6 ,unit='ns')
prov_ntt.insert(1, 'provinsi', 'Nusa Tenggara Timur')

In [27]:
ntt_ntb = [prov_id, prov_ntb, prov_ntt]

prov_id = pd.concat(ntt_ntb, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
4069,2021-05-29,Nusa Tenggara Timur,2,0,1,1,16085,14875,416,794
4070,2021-05-30,Nusa Tenggara Timur,25,1,11,13,16110,14886,417,807
4071,2021-05-31,Nusa Tenggara Timur,150,3,123,24,16260,15009,420,831
4072,2021-06-01,Nusa Tenggara Timur,8,0,49,-41,16268,15058,420,790
4073,2021-06-02,Nusa Tenggara Timur,61,0,6,55,16329,15064,420,845

# Sumatera
- Aceh
- Sumut
- Sumbar
- Riau
- Kepri
- Jambi
- Bengkulu
- Sulsel
- Kep. Balbel
- Lampung

In [28]:
resp_aceh = requests.get('https://data.covid19.go.id/public/api/prov_detail_ACEH.json')
resp_sumut = requests.get('https://data.covid19.go.id/public/api/prov_detail_SUMATERA_UTARA.json')
resp_sumbar = requests.get('https://data.covid19.go.id/public/api/prov_detail_SUMATERA_BARAT.json')
resp_riau = requests.get('https://data.covid19.go.id/public/api/prov_detail_RIAU.json')
resp_kepri = requests.get('https://data.covid19.go.id/public/api/prov_detail_KEPULAUAN_RIAU.json')
resp_jambi = requests.get('https://data.covid19.go.id/public/api/prov_detail_JAMBI.json')
resp_bengkulu = requests.get('https://data.covid19.go.id/public/api/prov_detail_BENGKULU.json')
resp_sumsel = requests.get('https://data.covid19.go.id/public/api/prov_detail_SUMATERA_SELATAN.json')
resp_balbel = requests.get('https://data.covid19.go.id/public/api/prov_detail_KEPULAUAN_BANGKA_BELITUNG.json')
resp_lampung = requests.get('https://data.covid19.go.id/public/api/prov_detail_LAMPUNG.json')
print(resp_aceh)
print(resp_sumut)
print(resp_sumbar)
print(resp_riau)
print(resp_kepri)
print(resp_jambi)
print(resp_bengkulu)
print(resp_sumsel)
print(resp_balbel)
print(resp_lampung)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [29]:
#aceh
prov_aceh_raw = resp_aceh.json()
prov_aceh = prov_aceh_raw['list_perkembangan']
prov_aceh = pd.DataFrame(prov_aceh)
prov_aceh['tanggal'] = pd.to_datetime(prov_aceh['tanggal']*1e6 ,unit='ns')
prov_aceh.insert(1, 'provinsi', 'Aceh')

#sumut
prov_sumut_raw = resp_sumut.json()
prov_sumut = prov_sumut_raw['list_perkembangan']
prov_sumut = pd.DataFrame(prov_sumut)
prov_sumut['tanggal'] = pd.to_datetime(prov_sumut['tanggal']*1e6 ,unit='ns')
prov_sumut.insert(1, 'provinsi', 'Sumatera Utara')

#sumbar
prov_sumbar_raw = resp_sumbar.json()
prov_sumbar = prov_sumbar_raw['list_perkembangan']
prov_sumbar = pd.DataFrame(prov_sumbar)
prov_sumbar['tanggal'] = pd.to_datetime(prov_sumbar['tanggal']*1e6 ,unit='ns')
prov_sumbar.insert(1, 'provinsi', 'Sumatera Barat')

#riau
prov_riau_raw = resp_riau.json()
prov_riau = prov_riau_raw['list_perkembangan']
prov_riau = pd.DataFrame(prov_riau)
prov_riau['tanggal'] = pd.to_datetime(prov_riau['tanggal']*1e6 ,unit='ns')
prov_riau.insert(1, 'provinsi', 'Riau')

#kepri
prov_kepri_raw = resp_kepri.json()
prov_kepri = prov_kepri_raw['list_perkembangan']
prov_kepri = pd.DataFrame(prov_kepri)
prov_kepri['tanggal'] = pd.to_datetime(prov_kepri['tanggal']*1e6 ,unit='ns')
prov_kepri.insert(1, 'provinsi', 'Kepulauan Riau')

#jambi
prov_jambi_raw = resp_jambi.json()
prov_jambi = prov_jambi_raw['list_perkembangan']
prov_jambi = pd.DataFrame(prov_jambi)
prov_jambi['tanggal'] = pd.to_datetime(prov_jambi['tanggal']*1e6 ,unit='ns')
prov_jambi.insert(1, 'provinsi', 'Jambi')

#bengkulu
prov_bengkulu_raw = resp_bengkulu.json()
prov_bengkulu = prov_bengkulu_raw['list_perkembangan']
prov_bengkulu = pd.DataFrame(prov_bengkulu)
prov_bengkulu['tanggal'] = pd.to_datetime(prov_bengkulu['tanggal']*1e6 ,unit='ns')
prov_bengkulu.insert(1, 'provinsi', 'Bengkulu')

#sumsel
prov_sumsel_raw = resp_sumsel.json()
prov_sumsel = prov_sumsel_raw['list_perkembangan']
prov_sumsel = pd.DataFrame(prov_sumsel)
prov_sumsel['tanggal'] = pd.to_datetime(prov_sumsel['tanggal']*1e6 ,unit='ns')
prov_sumsel.insert(1, 'provinsi', 'Sumatera Selatan')

#balbel
prov_balbel_raw = resp_balbel.json()
prov_balbel = prov_balbel_raw['list_perkembangan']
prov_balbel = pd.DataFrame(prov_balbel)
prov_balbel['tanggal'] = pd.to_datetime(prov_balbel['tanggal']*1e6 ,unit='ns')
prov_balbel.insert(1, 'provinsi', 'Kep. Bangka Belitung')

#lampung
prov_lampung_raw = resp_lampung.json()
prov_lampung = prov_lampung_raw['list_perkembangan']
prov_lampung = pd.DataFrame(prov_lampung)
prov_lampung['tanggal'] = pd.to_datetime(prov_lampung['tanggal']*1e6 ,unit='ns')
prov_lampung.insert(1, 'provinsi', 'Lampung')

In [30]:
sumatera = [prov_id, prov_aceh, prov_sumut, prov_sumbar, prov_riau,
           prov_kepri, prov_jambi, prov_bengkulu, prov_sumsel, prov_balbel, prov_lampung]

prov_id = pd.concat(sumatera, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
8449,2021-05-29,Lampung,98,1,80,17,18009,15706,925,1378
8450,2021-05-30,Lampung,89,1,37,51,18098,15743,926,1429
8451,2021-05-31,Lampung,99,1,76,22,18197,15819,927,1451
8452,2021-06-01,Lampung,97,4,30,63,18294,15849,931,1514
8453,2021-06-02,Lampung,90,3,40,47,18384,15889,934,1561

# Kalimantan

In [31]:
resp_kalbar = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_BARAT.json')
resp_kalsel = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_SELATAN.json')
resp_kalteng = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_TENGAH.json')
resp_kaltim = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_TIMUR.json')
resp_kalut = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_UTARA.json')
print(resp_kalbar)
print(resp_kalsel)
print(resp_kalteng)
print(resp_kaltim)
print(resp_kalut)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [32]:
#kalbar
prov_kalbar_raw = resp_kalbar.json()
prov_kalbar = prov_kalbar_raw['list_perkembangan']
prov_kalbar = pd.DataFrame(prov_kalbar)
prov_kalbar['tanggal'] = pd.to_datetime(prov_kalbar['tanggal']*1e6 ,unit='ns')
prov_kalbar.insert(1, 'provinsi', 'Kalimantan Barat')

#kalsel
prov_kalsel_raw = resp_kalsel.json()
prov_kalsel = prov_kalsel_raw['list_perkembangan']
prov_kalsel = pd.DataFrame(prov_kalsel)
prov_kalsel['tanggal'] = pd.to_datetime(prov_kalsel['tanggal']*1e6 ,unit='ns')
prov_kalsel.insert(1, 'provinsi', 'Kalimantan Selatan')

#kalteng
prov_kalteng_raw = resp_kalteng.json()
prov_kalteng = prov_kalteng_raw['list_perkembangan']
prov_kalteng = pd.DataFrame(prov_kalteng)
prov_kalteng['tanggal'] = pd.to_datetime(prov_kalteng['tanggal']*1e6 ,unit='ns')
prov_kalteng.insert(1, 'provinsi', 'Kalimantan Tengah')

#kaltim
prov_kaltim_raw = resp_kaltim.json()
prov_kaltim = prov_kaltim_raw['list_perkembangan']
prov_kaltim = pd.DataFrame(prov_kaltim)
prov_kaltim['tanggal'] = pd.to_datetime(prov_kaltim['tanggal']*1e6 ,unit='ns')
prov_kaltim.insert(1, 'provinsi', 'Kalimantan Timur')

#kalut
prov_kalut_raw = resp_kalut.json()
prov_kalut = prov_kalut_raw['list_perkembangan']
prov_kalut = pd.DataFrame(prov_kalut)
prov_kalut['tanggal'] = pd.to_datetime(prov_kalut['tanggal']*1e6 ,unit='ns')
prov_kalut.insert(1, 'provinsi', 'kalimantan Utara')

In [33]:
kalimantan = [prov_id, prov_kalbar, prov_kalsel, prov_kalteng, prov_kaltim, prov_kalut]

prov_id = pd.concat(kalimantan, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
10622,2021-05-29,kalimantan Utara,17,1,14,2,12234,11403,191,640
10623,2021-05-30,kalimantan Utara,3,0,3,0,12237,11406,191,640
10624,2021-05-31,kalimantan Utara,33,0,3,30,12270,11409,191,670
10625,2021-06-01,kalimantan Utara,25,0,24,1,12295,11433,191,671
10626,2021-06-02,kalimantan Utara,11,0,67,-56,12306,11500,191,615

# Sulawesi

In [34]:
resp_gorontalo = requests.get('https://data.covid19.go.id/public/api/prov_detail_GORONTALO.json')
resp_sulbar = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_BARAT.json')
resp_sulsel = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_SELATAN.json')
resp_sulteng = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_TENGAH.json')
resp_sultengg = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_TENGGARA.json')
resp_sulut = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_UTARA.json')
print(resp_gorontalo)
print(resp_sulbar)
print(resp_sulsel)
print(resp_sulteng)
print(resp_sultengg)
print(resp_sulut)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [35]:
#gorontalo
prov_gorontalo_raw = resp_gorontalo.json()
prov_gorontalo = prov_gorontalo_raw['list_perkembangan']
prov_gorontalo = pd.DataFrame(prov_gorontalo)
prov_gorontalo['tanggal'] = pd.to_datetime(prov_gorontalo['tanggal']*1e6 ,unit='ns')
prov_gorontalo.insert(1, 'provinsi', 'Gorontalo')

#sulbar
prov_sulbar_raw = resp_sulbar.json()
prov_sulbar = prov_sulbar_raw['list_perkembangan']
prov_sulbar = pd.DataFrame(prov_sulbar)
prov_sulbar['tanggal'] = pd.to_datetime(prov_sulbar['tanggal']*1e6 ,unit='ns')
prov_sulbar.insert(1, 'provinsi', 'Sulawesi Barat')

#sulsel
prov_sulsel_raw = resp_sulsel.json()
prov_sulsel = prov_sulsel_raw['list_perkembangan']
prov_sulsel = pd.DataFrame(prov_sulsel)
prov_sulsel['tanggal'] = pd.to_datetime(prov_sulsel['tanggal']*1e6 ,unit='ns')
prov_sulsel.insert(1, 'provinsi', 'Sulawesi Selatan')

#sulteng
prov_sulteng_raw = resp_sulteng.json()
prov_sulteng = prov_sulteng_raw['list_perkembangan']
prov_sulteng = pd.DataFrame(prov_sulteng)
prov_sulteng['tanggal'] = pd.to_datetime(prov_sulteng['tanggal']*1e6 ,unit='ns')
prov_sulteng.insert(1, 'provinsi', 'Sulawesi Tengah')

#sultengg
prov_sultengg_raw = resp_sultengg.json()
prov_sultengg = prov_sultengg_raw['list_perkembangan']
prov_sultengg = pd.DataFrame(prov_sultengg)
prov_sultengg['tanggal'] = pd.to_datetime(prov_sultengg['tanggal']*1e6 ,unit='ns')
prov_sultengg.insert(1, 'provinsi', 'Sulawesi Tenggara')

#sulut
prov_sulut_raw = resp_sulut.json()
prov_sulut = prov_sulut_raw['list_perkembangan']
prov_sulut = pd.DataFrame(prov_sulut)
prov_sulut['tanggal'] = pd.to_datetime(prov_sulut['tanggal']*1e6 ,unit='ns')
prov_sulut.insert(1, 'provinsi', 'Sulawesi Utara')

In [36]:
sulawesi = [prov_id, prov_gorontalo, prov_sulbar, prov_sulsel, 
            prov_sulut, prov_sulteng, prov_sultengg]

prov_id = pd.concat(sulawesi, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
13231,2021-05-28,Sulawesi Tenggara,6,0,10,-4,10505,10063,217,225
13232,2021-05-29,Sulawesi Tenggara,7,0,21,-14,10512,10084,217,211
13233,2021-05-30,Sulawesi Tenggara,7,0,0,7,10519,10084,217,218
13234,2021-05-31,Sulawesi Tenggara,1,0,1,0,10520,10085,217,218
13235,2021-06-01,Sulawesi Tenggara,4,0,0,4,10524,10085,217,222

# Papua

In [37]:
resp_maluku = requests.get('https://data.covid19.go.id/public/api/prov_detail_MALUKU.json')
resp_malut = requests.get('https://data.covid19.go.id/public/api/prov_detail_MALUKU_UTARA.json')
resp_papbar = requests.get('https://data.covid19.go.id/public/api/prov_detail_PAPUA_BARAT.json')
resp_papua = requests.get('https://data.covid19.go.id/public/api/prov_detail_PAPUA.json')
print(resp_maluku)
print(resp_malut)
print(resp_papbar)
print(resp_papua)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [38]:
#maluku
prov_maluku_raw = resp_maluku.json()
prov_maluku = prov_maluku_raw['list_perkembangan']
prov_maluku = pd.DataFrame(prov_maluku)
prov_maluku['tanggal'] = pd.to_datetime(prov_maluku['tanggal']*1e6 ,unit='ns')
prov_maluku.insert(1, 'provinsi', 'Maluku')

#malut
prov_malut_raw = resp_malut.json()
prov_malut = prov_malut_raw['list_perkembangan']
prov_malut = pd.DataFrame(prov_malut)
prov_malut['tanggal'] = pd.to_datetime(prov_malut['tanggal']*1e6 ,unit='ns')
prov_malut.insert(1, 'provinsi', 'Maluku Utara')

#papbar
prov_papbar_raw = resp_papbar.json()
prov_papbar = prov_papbar_raw['list_perkembangan']
prov_papbar = pd.DataFrame(prov_papbar)
prov_papbar['tanggal'] = pd.to_datetime(prov_papbar['tanggal']*1e6 ,unit='ns')
prov_papbar.insert(1, 'provinsi', 'Papua Barat')

#papua
prov_papua_raw = resp_papua.json()
prov_papua = prov_papua_raw['list_perkembangan']
prov_papua = pd.DataFrame(prov_papua)
prov_papua['tanggal'] = pd.to_datetime(prov_papua['tanggal']*1e6 ,unit='ns')
prov_papua.insert(1, 'provinsi', 'Papua')

In [39]:
papua = [prov_id, prov_maluku, prov_malut, prov_papbar, prov_papua]

prov_id = pd.concat(papua, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
14966,2021-05-20,Papua,0,0,0,0,20433,11450,207,8776
14967,2021-05-21,Papua,0,0,0,0,20433,11450,207,8776
14968,2021-05-22,Papua,0,0,0,0,20433,11450,207,8776
14969,2021-05-23,Papua,0,0,0,0,20433,11450,207,8776
14970,2021-05-24,Papua,28,0,0,28,20461,11450,207,8804

In [40]:
new_cols = ['date', 'province', 'new_cases', 'new_deaths', 'new_recoveries', 'new_hospitalizations', 
           'total_cases', 'total_deaths', 'total_recoveries', 'total_hospitalizations']
prov_id.columns = new_cols
prov_id

#prov_id = prov_id.rename(columns=str.lower).rename(columns={}),inplace=True)
#prov_id

,date,province,new_cases,new_deaths,new_recoveries,new_hospitalizations,total_cases,total_deaths,total_recoveries,total_hospitalizations
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
14966,2021-05-20,Papua,0,0,0,0,20433,11450,207,8776
14967,2021-05-21,Papua,0,0,0,0,20433,11450,207,8776
14968,2021-05-22,Papua,0,0,0,0,20433,11450,207,8776
14969,2021-05-23,Papua,0,0,0,0,20433,11450,207,8776
14970,2021-05-24,Papua,28,0,0,28,20461,11450,207,8804

# Upload to Google Sheet

In [41]:
#!pip3 install gspread
#!pip3 install --upgrade google-api-python-client oauth2client

In [42]:
#!pip3 install gspread-dataframe

In [43]:
import gspread
from gspread_dataframe import set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials

In [44]:
####Access the Google Sheet

#filename=ServiceAccountCredentials.from_json_keyfile_name('add_json_file_here.json', scope)
####scopes= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']###
gc = gspread.service_account('c:/Users/Acer/Downloads/Google_API_Credentials/mytest-project-311420-267223638303.json')
sh = gc.open_by_key('1Hrzto96H57_8xr_3v_bBZZHDAs9dU0vv0PB9sqAZ4mw')
worksheet = sh.get_worksheet(0)

In [45]:
### clear dataset instead of append data

### CLEAR SHEET CONTENT
# Method 1
# range_of_cells = worksheet.range('A1:J11727') #-> Select the range you want to clear
# for cell in range_of_cells:
#    cell.value = ''
#    worksheet.update_cells(range_of_cells)  ###

# Method 2    
#sh.values_clear("Worksheet!A1:J11727")
sh.values_clear("'covid19_prov'!A1:Z") #Originals name: Sheet1

{'spreadsheetId': '1Hrzto96H57_8xr_3v_bBZZHDAs9dU0vv0PB9sqAZ4mw',
 'clearedRange': 'covid19_prov!A1:Z14906'}

In [46]:
#### Append data to sheet
cov_prov_id = prov_id
set_with_dataframe(worksheet, cov_prov_id)

In [47]:
### Uploaded to csv format 
import os

path=r'C:\Users\Acer\Documents\Belajar Data Science\Source Code Project\Covid19-Report-Indonesia\Dataset' 

covid19_prov_id = cov_prov_id.set_index(keys= 'date')
covid19_prov_id.to_csv(os.path.join(path, r'covid_prov_id.csv')) #to csv file format
covid19_prov_id.to_excel(os.path.join(path, r'covid_prov_id.xlsx')) #to xlsx file format