In [1]:
import requests
import pandas as pd 
import numpy as np

# Banten

In [2]:
resp_banten = requests.get('https://data.covid19.go.id/public/api/prov_detail_BANTEN.json')
resp_banten

In [3]:
prov_banten_raw = resp_banten.json()
prov_banten_raw.keys()

dict_keys(['last_date', 'provinsi', 'kasus_total', 'kasus_tanpa_tgl', 'kasus_dengan_tgl', 'meninggal_persen', 'meninggal_tanpa_tgl', 'meninggal_dengan_tgl', 'sembuh_persen', 'sembuh_tanpa_tgl', 'sembuh_dengan_tgl', 'list_perkembangan', 'data'])

In [4]:
prov_banten = prov_banten_raw['list_perkembangan']
prov_banten = pd.DataFrame(prov_banten)

In [5]:
print(prov_banten.info())
prov_banten

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tanggal                       436 non-null    int64
 1   KASUS                         436 non-null    int64
 2   MENINGGAL                     436 non-null    int64
 3   SEMBUH                        436 non-null    int64
 4   DIRAWAT_OR_ISOLASI            436 non-null    int64
 5   AKUMULASI_KASUS               436 non-null    int64
 6   AKUMULASI_SEMBUH              436 non-null    int64
 7   AKUMULASI_MENINGGAL           436 non-null    int64
 8   AKUMULASI_DIRAWAT_OR_ISOLASI  436 non-null    int64
dtypes: int64(9)
memory usage: 30.8 KB
None

,tanggal,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,1583452800000,1,0,1,0,1,1,0,0
1,1583539200000,0,0,0,0,1,1,0,0
2,1583625600000,1,0,3,-2,2,4,0,-2
3,1583712000000,0,0,0,0,2,4,0,-2
4,1583798400000,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...
431,1620691200000,82,1,45,36,48211,45006,1224,1981
432,1620777600000,56,0,24,32,48267,45030,1224,2013
433,1620864000000,34,0,1,33,48301,45031,1224,2046
434,1620950400000,39,0,15,24,48340,45046,1224,2070
435,1621036800000,22,0,99,-77,48362,45145,1224,1993

In [6]:
prov_banten['tanggal'] = pd.to_datetime(prov_banten['tanggal']*1e6 ,unit='ns')
prov_banten.insert(1, 'provinsi', 'Banten')
prov_banten

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
431,2021-05-11,Banten,82,1,45,36,48211,45006,1224,1981
432,2021-05-12,Banten,56,0,24,32,48267,45030,1224,2013
433,2021-05-13,Banten,34,0,1,33,48301,45031,1224,2046
434,2021-05-14,Banten,39,0,15,24,48340,45046,1224,2070
435,2021-05-15,Banten,22,0,99,-77,48362,45145,1224,1993

# DKI Jakarta

In [7]:
resp_dki = requests.get('https://data.covid19.go.id/public/api/prov_detail_DKI_JAKARTA.json')
resp_dki

In [8]:
prov_dki_raw = resp_dki.json()
prov_dki = prov_dki_raw['list_perkembangan']
prov_dki = pd.DataFrame(prov_dki)
prov_dki['tanggal'] = pd.to_datetime(prov_dki['tanggal']*1e6 ,unit='ns')
prov_dki.insert(1, 'provinsi', 'DKI Jakarta')
prov_dki

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-01,DKI Jakarta,2,0,0,2,2,0,0,2
1,2020-03-02,DKI Jakarta,2,0,0,2,4,0,0,4
2,2020-03-03,DKI Jakarta,2,0,0,2,6,0,0,6
3,2020-03-04,DKI Jakarta,2,0,0,2,8,0,0,8
4,2020-03-05,DKI Jakarta,0,1,0,-1,8,0,1,7
...,...,...,...,...,...,...,...,...,...,...
436,2021-05-11,DKI Jakarta,406,20,667,-281,416710,402273,6846,7591
437,2021-05-12,DKI Jakarta,656,13,674,-31,417366,402947,6859,7560
438,2021-05-13,DKI Jakarta,785,15,585,185,418151,403532,6874,7745
439,2021-05-14,DKI Jakarta,632,16,547,69,418783,404079,6890,7814
440,2021-05-15,DKI Jakarta,227,15,573,-361,419010,404652,6905,7453

In [9]:
prov_id = pd.concat([prov_banten, prov_dki], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
872,2021-05-11,DKI Jakarta,406,20,667,-281,416710,402273,6846,7591
873,2021-05-12,DKI Jakarta,656,13,674,-31,417366,402947,6859,7560
874,2021-05-13,DKI Jakarta,785,15,585,185,418151,403532,6874,7745
875,2021-05-14,DKI Jakarta,632,16,547,69,418783,404079,6890,7814
876,2021-05-15,DKI Jakarta,227,15,573,-361,419010,404652,6905,7453

# Jawa Barat

In [10]:
resp_jabar = requests.get('https://data.covid19.go.id/public/api/prov_detail_JAWA_BARAT.json')
resp_jabar

In [11]:
prov_jabar_raw = resp_jabar.json()
prov_jabar = prov_jabar_raw['list_perkembangan']
prov_jabar = pd.DataFrame(prov_jabar)
prov_jabar['tanggal'] = pd.to_datetime(prov_jabar['tanggal']*1e6 ,unit='ns')
prov_jabar.insert(1, 'provinsi', 'Jawa Barat')
prov_jabar

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-02,Jawa Barat,3,0,0,3,3,0,0,3
1,2020-03-03,Jawa Barat,1,1,0,0,4,0,1,3
2,2020-03-04,Jawa Barat,1,0,0,1,5,0,1,4
3,2020-03-05,Jawa Barat,1,0,0,1,6,0,1,5
4,2020-03-06,Jawa Barat,1,0,0,1,7,0,1,6
...,...,...,...,...,...,...,...,...,...,...
435,2021-05-11,Jawa Barat,1373,18,1073,282,293965,260673,3905,29387
436,2021-05-12,Jawa Barat,814,22,769,23,294779,261442,3927,29410
437,2021-05-13,Jawa Barat,400,10,602,-212,295179,262044,3937,29198
438,2021-05-14,Jawa Barat,610,2,685,-77,295789,262729,3939,29121
439,2021-05-15,Jawa Barat,723,9,572,142,296512,263301,3948,29263

In [12]:
prov_id = pd.concat([prov_id, prov_jabar], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
1312,2021-05-11,Jawa Barat,1373,18,1073,282,293965,260673,3905,29387
1313,2021-05-12,Jawa Barat,814,22,769,23,294779,261442,3927,29410
1314,2021-05-13,Jawa Barat,400,10,602,-212,295179,262044,3937,29198
1315,2021-05-14,Jawa Barat,610,2,685,-77,295789,262729,3939,29121
1316,2021-05-15,Jawa Barat,723,9,572,142,296512,263301,3948,29263

# Jawa Tengah

In [13]:
resp_jateng = requests.get('https://data.covid19.go.id/public/api/prov_detail_JAWA_TENGAH.json')
resp_jateng

In [14]:
prov_jateng_raw = resp_jateng.json()
prov_jateng = prov_jateng_raw['list_perkembangan']
prov_jateng = pd.DataFrame(prov_jateng)
prov_jateng['tanggal'] = pd.to_datetime(prov_jateng['tanggal']*1e6 ,unit='ns')
prov_jateng.insert(1, 'provinsi', 'Jawa Tengah')
prov_jateng

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-11,Jawa Tengah,1,1,0,0,1,0,1,0
1,2020-03-12,Jawa Tengah,0,0,0,0,1,0,1,0
2,2020-03-13,Jawa Tengah,0,0,0,0,1,0,1,0
3,2020-03-14,Jawa Tengah,0,0,0,0,1,0,1,0
4,2020-03-15,Jawa Tengah,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
426,2021-05-11,Jawa Tengah,540,80,780,-320,188605,171397,8629,8579
427,2021-05-12,Jawa Tengah,109,24,292,-207,188714,171689,8653,8372
428,2021-05-13,Jawa Tengah,480,1,1146,-667,189194,172835,8654,7705
429,2021-05-14,Jawa Tengah,162,24,448,-310,189356,173283,8678,7395
430,2021-05-15,Jawa Tengah,248,35,434,-221,189604,173717,8713,7174

In [15]:
prov_id = pd.concat([prov_id, prov_jateng], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
1743,2021-05-11,Jawa Tengah,540,80,780,-320,188605,171397,8629,8579
1744,2021-05-12,Jawa Tengah,109,24,292,-207,188714,171689,8653,8372
1745,2021-05-13,Jawa Tengah,480,1,1146,-667,189194,172835,8654,7705
1746,2021-05-14,Jawa Tengah,162,24,448,-310,189356,173283,8678,7395
1747,2021-05-15,Jawa Tengah,248,35,434,-221,189604,173717,8713,7174

# DIY

In [16]:
resp_diy = requests.get('https://data.covid19.go.id/public/api/prov_detail_DAERAH_ISTIMEWA_YOGYAKARTA.json')
resp_diy

In [17]:
prov_diy_raw = resp_diy.json()
prov_diy = prov_diy_raw['list_perkembangan']
prov_diy = pd.DataFrame(prov_diy)
prov_diy['tanggal'] = pd.to_datetime(prov_diy['tanggal']*1e6 ,unit='ns')
prov_diy.insert(1, 'provinsi', 'Daerah istimewa Yogyakarta')
prov_diy

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-16,Daerah istimewa Yogyakarta,1,0,0,1,1,0,0,1
1,2020-03-17,Daerah istimewa Yogyakarta,0,0,0,0,1,0,0,1
2,2020-03-18,Daerah istimewa Yogyakarta,0,0,0,0,1,0,0,1
3,2020-03-19,Daerah istimewa Yogyakarta,0,0,0,0,1,0,0,1
4,2020-03-20,Daerah istimewa Yogyakarta,1,0,1,0,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...
421,2021-05-11,Daerah istimewa Yogyakarta,154,5,307,-158,41358,37465,1033,2860
422,2021-05-12,Daerah istimewa Yogyakarta,217,8,232,-23,41575,37697,1041,2837
423,2021-05-13,Daerah istimewa Yogyakarta,105,4,240,-139,41680,37937,1045,2698
424,2021-05-14,Daerah istimewa Yogyakarta,97,13,165,-81,41777,38102,1058,2617
425,2021-05-15,Daerah istimewa Yogyakarta,94,5,266,-177,41871,38368,1063,2440

In [18]:
prov_id = pd.concat([prov_id, prov_diy], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
2169,2021-05-11,Daerah istimewa Yogyakarta,154,5,307,-158,41358,37465,1033,2860
2170,2021-05-12,Daerah istimewa Yogyakarta,217,8,232,-23,41575,37697,1041,2837
2171,2021-05-13,Daerah istimewa Yogyakarta,105,4,240,-139,41680,37937,1045,2698
2172,2021-05-14,Daerah istimewa Yogyakarta,97,13,165,-81,41777,38102,1058,2617
2173,2021-05-15,Daerah istimewa Yogyakarta,94,5,266,-177,41871,38368,1063,2440

# Jawa Timur

In [19]:
resp_jatim = requests.get('https://data.covid19.go.id/public/api/prov_detail_JAWA_TIMUR.json')
resp_jatim

In [20]:
prov_jatim_raw = resp_jatim.json()
prov_jatim = prov_jatim_raw['list_perkembangan']
prov_jatim = pd.DataFrame(prov_jatim)
prov_jatim['tanggal'] = pd.to_datetime(prov_jatim['tanggal']*1e6 ,unit='ns')
prov_jatim.insert(1, 'provinsi', 'Jawa Timur')
prov_jatim

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-01-08,Jawa Timur,9,3,1,5,9,1,3,5
1,2020-01-09,Jawa Timur,0,1,23,-24,9,24,4,-19
2,2020-01-10,Jawa Timur,0,1,14,-15,9,38,5,-34
3,2020-01-11,Jawa Timur,0,3,8,-11,9,46,8,-45
4,2020-01-12,Jawa Timur,0,3,1,-4,9,47,11,-49
...,...,...,...,...,...,...,...,...,...,...
489,2021-05-11,Jawa Timur,258,31,192,35,150364,137326,10925,2113
490,2021-05-12,Jawa Timur,248,22,224,2,150612,137550,10947,2115
491,2021-05-13,Jawa Timur,148,12,151,-15,150760,137701,10959,2100
492,2021-05-14,Jawa Timur,141,15,174,-48,150901,137875,10974,2052
493,2021-05-15,Jawa Timur,183,28,230,-75,151084,138105,11002,1977

In [21]:
prov_id = pd.concat([prov_id, prov_jatim], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
2663,2021-05-11,Jawa Timur,258,31,192,35,150364,137326,10925,2113
2664,2021-05-12,Jawa Timur,248,22,224,2,150612,137550,10947,2115
2665,2021-05-13,Jawa Timur,148,12,151,-15,150760,137701,10959,2100
2666,2021-05-14,Jawa Timur,141,15,174,-48,150901,137875,10974,2052
2667,2021-05-15,Jawa Timur,183,28,230,-75,151084,138105,11002,1977

# Bali

In [22]:
resp_bali = requests.get('https://data.covid19.go.id/public/api/prov_detail_BALI.json')
resp_bali

In [23]:
prov_bali_raw = resp_bali.json()
prov_bali = prov_bali_raw['list_perkembangan']
prov_bali = pd.DataFrame(prov_bali)
prov_bali['tanggal'] = pd.to_datetime(prov_bali['tanggal']*1e6 ,unit='ns')
prov_bali.insert(1, 'provinsi', 'Bali')
prov_bali

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-11,Bali,1,1,0,0,1,0,1,0
1,2020-03-12,Bali,0,0,0,0,1,0,1,0
2,2020-03-13,Bali,0,0,0,0,1,0,1,0
3,2020-03-14,Bali,0,0,0,0,1,0,1,0
4,2020-03-15,Bali,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
426,2021-05-11,Bali,101,11,93,-3,45930,43003,1297,1630
427,2021-05-12,Bali,97,3,97,-3,46027,43100,1300,1627
428,2021-05-13,Bali,94,5,73,16,46121,43173,1305,1643
429,2021-05-14,Bali,47,3,98,-54,46168,43271,1308,1589
430,2021-05-15,Bali,45,3,123,-81,46213,43394,1311,1508

In [24]:
prov_id = pd.concat([prov_id, prov_bali], ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
3094,2021-05-11,Bali,101,11,93,-3,45930,43003,1297,1630
3095,2021-05-12,Bali,97,3,97,-3,46027,43100,1300,1627
3096,2021-05-13,Bali,94,5,73,16,46121,43173,1305,1643
3097,2021-05-14,Bali,47,3,98,-54,46168,43271,1308,1589
3098,2021-05-15,Bali,45,3,123,-81,46213,43394,1311,1508

# NUSA TENGGARA BARAT
# NUSA TENGGARA TIMUR

In [25]:
resp_ntb = requests.get('https://data.covid19.go.id/public/api/prov_detail_NUSA_TENGGARA_BARAT.json')
resp_ntt = requests.get('https://data.covid19.go.id/public/api/prov_detail_NUSA_TENGGARA_TIMUR.json')
print(resp_ntb)
print(resp_ntt)

<Response [200]>
<Response [200]>

In [26]:
#ntb
prov_ntb_raw = resp_ntb.json()
prov_ntb = prov_ntb_raw['list_perkembangan']
prov_ntb = pd.DataFrame(prov_ntb)
prov_ntb['tanggal'] = pd.to_datetime(prov_ntb['tanggal']*1e6 ,unit='ns')
prov_ntb.insert(1, 'provinsi', 'Nusa Tenggara Barat')

#ntt
prov_ntt_raw = resp_ntt.json()
prov_ntt = prov_ntt_raw['list_perkembangan']
prov_ntt = pd.DataFrame(prov_ntt)
prov_ntt['tanggal'] = pd.to_datetime(prov_ntt['tanggal']*1e6 ,unit='ns')
prov_ntt.insert(1, 'provinsi', 'Nusa Tenggara Timur')

In [27]:
ntt_ntb = [prov_id, prov_ntb, prov_ntt]

prov_id = pd.concat(ntt_ntb, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
3907,2021-05-11,Nusa Tenggara Timur,125,1,167,-43,15487,13531,396,1560
3908,2021-05-12,Nusa Tenggara Timur,9,1,1,7,15496,13532,397,1567
3909,2021-05-13,Nusa Tenggara Timur,4,6,49,-51,15500,13581,403,1516
3910,2021-05-14,Nusa Tenggara Timur,77,1,75,1,15577,13656,404,1517
3911,2021-05-15,Nusa Tenggara Timur,5,0,32,-27,15582,13688,404,1490

# Sumatera
- Aceh
- Sumut
- Sumbar
- Riau
- Kepri
- Jambi
- Bengkulu
- Sulsel
- Kep. Balbel
- Lampung

In [28]:
resp_aceh = requests.get('https://data.covid19.go.id/public/api/prov_detail_ACEH.json')
resp_sumut = requests.get('https://data.covid19.go.id/public/api/prov_detail_SUMATERA_UTARA.json')
resp_sumbar = requests.get('https://data.covid19.go.id/public/api/prov_detail_SUMATERA_BARAT.json')
resp_riau = requests.get('https://data.covid19.go.id/public/api/prov_detail_RIAU.json')
resp_kepri = requests.get('https://data.covid19.go.id/public/api/prov_detail_KEPULAUAN_RIAU.json')
resp_jambi = requests.get('https://data.covid19.go.id/public/api/prov_detail_JAMBI.json')
resp_bengkulu = requests.get('https://data.covid19.go.id/public/api/prov_detail_BENGKULU.json')
resp_sumsel = requests.get('https://data.covid19.go.id/public/api/prov_detail_SUMATERA_SELATAN.json')
resp_balbel = requests.get('https://data.covid19.go.id/public/api/prov_detail_KEPULAUAN_BANGKA_BELITUNG.json')
resp_lampung = requests.get('https://data.covid19.go.id/public/api/prov_detail_LAMPUNG.json')
print(resp_aceh)
print(resp_sumut)
print(resp_sumbar)
print(resp_riau)
print(resp_kepri)
print(resp_jambi)
print(resp_bengkulu)
print(resp_sumsel)
print(resp_balbel)
print(resp_lampung)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [29]:
#aceh
prov_aceh_raw = resp_aceh.json()
prov_aceh = prov_aceh_raw['list_perkembangan']
prov_aceh = pd.DataFrame(prov_aceh)
prov_aceh['tanggal'] = pd.to_datetime(prov_aceh['tanggal']*1e6 ,unit='ns')
prov_aceh.insert(1, 'provinsi', 'Aceh')

#sumut
prov_sumut_raw = resp_sumut.json()
prov_sumut = prov_sumut_raw['list_perkembangan']
prov_sumut = pd.DataFrame(prov_sumut)
prov_sumut['tanggal'] = pd.to_datetime(prov_sumut['tanggal']*1e6 ,unit='ns')
prov_sumut.insert(1, 'provinsi', 'Sumatera Utara')

#sumbar
prov_sumbar_raw = resp_sumbar.json()
prov_sumbar = prov_sumbar_raw['list_perkembangan']
prov_sumbar = pd.DataFrame(prov_sumbar)
prov_sumbar['tanggal'] = pd.to_datetime(prov_sumbar['tanggal']*1e6 ,unit='ns')
prov_sumbar.insert(1, 'provinsi', 'Sumatera Barat')

#riau
prov_riau_raw = resp_riau.json()
prov_riau = prov_riau_raw['list_perkembangan']
prov_riau = pd.DataFrame(prov_riau)
prov_riau['tanggal'] = pd.to_datetime(prov_riau['tanggal']*1e6 ,unit='ns')
prov_riau.insert(1, 'provinsi', 'Riau')

#kepri
prov_kepri_raw = resp_kepri.json()
prov_kepri = prov_kepri_raw['list_perkembangan']
prov_kepri = pd.DataFrame(prov_kepri)
prov_kepri['tanggal'] = pd.to_datetime(prov_kepri['tanggal']*1e6 ,unit='ns')
prov_kepri.insert(1, 'provinsi', 'Kepulauan Riau')

#jambi
prov_jambi_raw = resp_jambi.json()
prov_jambi = prov_jambi_raw['list_perkembangan']
prov_jambi = pd.DataFrame(prov_jambi)
prov_jambi['tanggal'] = pd.to_datetime(prov_jambi['tanggal']*1e6 ,unit='ns')
prov_jambi.insert(1, 'provinsi', 'Jambi')

#bengkulu
prov_bengkulu_raw = resp_bengkulu.json()
prov_bengkulu = prov_bengkulu_raw['list_perkembangan']
prov_bengkulu = pd.DataFrame(prov_bengkulu)
prov_bengkulu['tanggal'] = pd.to_datetime(prov_bengkulu['tanggal']*1e6 ,unit='ns')
prov_bengkulu.insert(1, 'provinsi', 'Bengkulu')

#sumsel
prov_sumsel_raw = resp_sumsel.json()
prov_sumsel = prov_sumsel_raw['list_perkembangan']
prov_sumsel = pd.DataFrame(prov_sumsel)
prov_sumsel['tanggal'] = pd.to_datetime(prov_sumsel['tanggal']*1e6 ,unit='ns')
prov_sumsel.insert(1, 'provinsi', 'Sumatera Selatan')

#balbel
prov_balbel_raw = resp_balbel.json()
prov_balbel = prov_balbel_raw['list_perkembangan']
prov_balbel = pd.DataFrame(prov_balbel)
prov_balbel['tanggal'] = pd.to_datetime(prov_balbel['tanggal']*1e6 ,unit='ns')
prov_balbel.insert(1, 'provinsi', 'Kep. Bangka Belitung')

#lampung
prov_lampung_raw = resp_lampung.json()
prov_lampung = prov_lampung_raw['list_perkembangan']
prov_lampung = pd.DataFrame(prov_lampung)
prov_lampung['tanggal'] = pd.to_datetime(prov_lampung['tanggal']*1e6 ,unit='ns')
prov_lampung.insert(1, 'provinsi', 'Lampung')

In [30]:
sumatera = [prov_id, prov_aceh, prov_sumut, prov_sumbar, prov_riau,
           prov_kepri, prov_jambi, prov_bengkulu, prov_sumsel, prov_balbel, prov_lampung]

prov_id = pd.concat(sumatera, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
8104,2021-05-11,Lampung,85,18,217,-150,16720,14562,855,1303
8105,2021-05-12,Lampung,88,5,72,11,16808,14634,860,1314
8106,2021-05-13,Lampung,49,4,25,20,16857,14659,864,1334
8107,2021-05-14,Lampung,29,2,34,-7,16886,14693,866,1327
8108,2021-05-15,Lampung,65,0,15,50,16951,14708,866,1377

# Kalimantan

In [31]:
resp_kalbar = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_BARAT.json')
resp_kalsel = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_SELATAN.json')
resp_kalteng = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_TENGAH.json')
resp_kaltim = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_TIMUR.json')
resp_kalut = requests.get('https://data.covid19.go.id/public/api/prov_detail_KALIMANTAN_UTARA.json')
print(resp_kalbar)
print(resp_kalsel)
print(resp_kalteng)
print(resp_kaltim)
print(resp_kalut)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [32]:
#kalbar
prov_kalbar_raw = resp_kalbar.json()
prov_kalbar = prov_kalbar_raw['list_perkembangan']
prov_kalbar = pd.DataFrame(prov_kalbar)
prov_kalbar['tanggal'] = pd.to_datetime(prov_kalbar['tanggal']*1e6 ,unit='ns')
prov_kalbar.insert(1, 'provinsi', 'Kalimantan Barat')

#kalsel
prov_kalsel_raw = resp_kalsel.json()
prov_kalsel = prov_kalsel_raw['list_perkembangan']
prov_kalsel = pd.DataFrame(prov_kalsel)
prov_kalsel['tanggal'] = pd.to_datetime(prov_kalsel['tanggal']*1e6 ,unit='ns')
prov_kalsel.insert(1, 'provinsi', 'Kalimantan Selatan')

#kalteng
prov_kalteng_raw = resp_kalteng.json()
prov_kalteng = prov_kalteng_raw['list_perkembangan']
prov_kalteng = pd.DataFrame(prov_kalteng)
prov_kalteng['tanggal'] = pd.to_datetime(prov_kalteng['tanggal']*1e6 ,unit='ns')
prov_kalteng.insert(1, 'provinsi', 'Kalimantan Tengah')

#kaltim
prov_kaltim_raw = resp_kaltim.json()
prov_kaltim = prov_kaltim_raw['list_perkembangan']
prov_kaltim = pd.DataFrame(prov_kaltim)
prov_kaltim['tanggal'] = pd.to_datetime(prov_kaltim['tanggal']*1e6 ,unit='ns')
prov_kaltim.insert(1, 'provinsi', 'Kalimantan Timur')

#kalut
prov_kalut_raw = resp_kalut.json()
prov_kalut = prov_kalut_raw['list_perkembangan']
prov_kalut = pd.DataFrame(prov_kalut)
prov_kalut['tanggal'] = pd.to_datetime(prov_kalut['tanggal']*1e6 ,unit='ns')
prov_kalut.insert(1, 'provinsi', 'kalimantan Utara')

In [33]:
kalimantan = [prov_id, prov_kalbar, prov_kalsel, prov_kalteng, prov_kaltim, prov_kalut]

prov_id = pd.concat(kalimantan, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
10187,2021-05-11,kalimantan Utara,11,0,39,-28,11882,11240,188,454
10188,2021-05-12,kalimantan Utara,0,0,4,-4,11882,11244,188,450
10189,2021-05-13,kalimantan Utara,0,0,9,-9,11882,11253,188,441
10190,2021-05-14,kalimantan Utara,9,0,0,9,11891,11253,188,450
10191,2021-05-15,kalimantan Utara,3,0,7,-4,11894,11260,188,446

# Sulawesi

In [34]:
resp_gorontalo = requests.get('https://data.covid19.go.id/public/api/prov_detail_GORONTALO.json')
resp_sulbar = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_BARAT.json')
resp_sulsel = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_SELATAN.json')
resp_sulteng = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_TENGAH.json')
resp_sultengg = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_TENGGARA.json')
resp_sulut = requests.get('https://data.covid19.go.id/public/api/prov_detail_SULAWESI_UTARA.json')
print(resp_gorontalo)
print(resp_sulbar)
print(resp_sulsel)
print(resp_sulteng)
print(resp_sultengg)
print(resp_sulut)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [35]:
#gorontalo
prov_gorontalo_raw = resp_gorontalo.json()
prov_gorontalo = prov_gorontalo_raw['list_perkembangan']
prov_gorontalo = pd.DataFrame(prov_gorontalo)
prov_gorontalo['tanggal'] = pd.to_datetime(prov_gorontalo['tanggal']*1e6 ,unit='ns')
prov_gorontalo.insert(1, 'provinsi', 'Gorontalo')

#sulbar
prov_sulbar_raw = resp_sulbar.json()
prov_sulbar = prov_sulbar_raw['list_perkembangan']
prov_sulbar = pd.DataFrame(prov_sulbar)
prov_sulbar['tanggal'] = pd.to_datetime(prov_sulbar['tanggal']*1e6 ,unit='ns')
prov_sulbar.insert(1, 'provinsi', 'Sulawesi Barat')

#sulsel
prov_sulsel_raw = resp_sulsel.json()
prov_sulsel = prov_sulsel_raw['list_perkembangan']
prov_sulsel = pd.DataFrame(prov_sulsel)
prov_sulsel['tanggal'] = pd.to_datetime(prov_sulsel['tanggal']*1e6 ,unit='ns')
prov_sulsel.insert(1, 'provinsi', 'Sulawesi Selatan')

#sulteng
prov_sulteng_raw = resp_sulteng.json()
prov_sulteng = prov_sulteng_raw['list_perkembangan']
prov_sulteng = pd.DataFrame(prov_sulteng)
prov_sulteng['tanggal'] = pd.to_datetime(prov_sulteng['tanggal']*1e6 ,unit='ns')
prov_sulteng.insert(1, 'provinsi', 'Sulawesi Tengah')

#sultengg
prov_sultengg_raw = resp_sultengg.json()
prov_sultengg = prov_sultengg_raw['list_perkembangan']
prov_sultengg = pd.DataFrame(prov_sultengg)
prov_sultengg['tanggal'] = pd.to_datetime(prov_sultengg['tanggal']*1e6 ,unit='ns')
prov_sultengg.insert(1, 'provinsi', 'Sulawesi Tenggara')

#sulut
prov_sulut_raw = resp_sulut.json()
prov_sulut = prov_sulut_raw['list_perkembangan']
prov_sulut = pd.DataFrame(prov_sulut)
prov_sulut['tanggal'] = pd.to_datetime(prov_sulut['tanggal']*1e6 ,unit='ns')
prov_sulut.insert(1, 'provinsi', 'Sulawesi Utara')

In [36]:
sulawesi = [prov_id, prov_gorontalo, prov_sulbar, prov_sulsel, 
            prov_sulut, prov_sulteng, prov_sultengg]

prov_id = pd.concat(kalimantan, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
10187,2021-05-11,kalimantan Utara,11,0,39,-28,11882,11240,188,454
10188,2021-05-12,kalimantan Utara,0,0,4,-4,11882,11244,188,450
10189,2021-05-13,kalimantan Utara,0,0,9,-9,11882,11253,188,441
10190,2021-05-14,kalimantan Utara,9,0,0,9,11891,11253,188,450
10191,2021-05-15,kalimantan Utara,3,0,7,-4,11894,11260,188,446

# Papua

In [37]:
resp_maluku = requests.get('https://data.covid19.go.id/public/api/prov_detail_MALUKU.json')
resp_malut = requests.get('https://data.covid19.go.id/public/api/prov_detail_MALUKU_UTARA.json')
resp_papbar = requests.get('https://data.covid19.go.id/public/api/prov_detail_PAPUA_BARAT.json')
resp_papua = requests.get('https://data.covid19.go.id/public/api/prov_detail_PAPUA.json')
print(resp_maluku)
print(resp_malut)
print(resp_papbar)
print(resp_papua)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [38]:
#maluku
prov_maluku_raw = resp_maluku.json()
prov_maluku = prov_maluku_raw['list_perkembangan']
prov_maluku = pd.DataFrame(prov_maluku)
prov_maluku['tanggal'] = pd.to_datetime(prov_maluku['tanggal']*1e6 ,unit='ns')
prov_maluku.insert(1, 'provinsi', 'Maluku')

#malut
prov_malut_raw = resp_malut.json()
prov_malut = prov_malut_raw['list_perkembangan']
prov_malut = pd.DataFrame(prov_malut)
prov_malut['tanggal'] = pd.to_datetime(prov_malut['tanggal']*1e6 ,unit='ns')
prov_malut.insert(1, 'provinsi', 'Maluku Utara')

#papbar
prov_papbar_raw = resp_papbar.json()
prov_papbar = prov_papbar_raw['list_perkembangan']
prov_papbar = pd.DataFrame(prov_papbar)
prov_papbar['tanggal'] = pd.to_datetime(prov_papbar['tanggal']*1e6 ,unit='ns')
prov_papbar.insert(1, 'provinsi', 'Papua Barat')

#papua
prov_papua_raw = resp_papua.json()
prov_papua = prov_papua_raw['list_perkembangan']
prov_papua = pd.DataFrame(prov_papua)
prov_papua['tanggal'] = pd.to_datetime(prov_papua['tanggal']*1e6 ,unit='ns')
prov_papua.insert(1, 'provinsi', 'Papua')

In [39]:
papua = [prov_id, prov_maluku, prov_malut, prov_papbar, prov_papua]

prov_id = pd.concat(papua, ignore_index=True)
prov_id

,tanggal,provinsi,KASUS,MENINGGAL,SEMBUH,DIRAWAT_OR_ISOLASI,AKUMULASI_KASUS,AKUMULASI_SEMBUH,AKUMULASI_MENINGGAL,AKUMULASI_DIRAWAT_OR_ISOLASI
0,2020-03-06,Banten,1,0,1,0,1,1,0,0
1,2020-03-07,Banten,0,0,0,0,1,1,0,0
2,2020-03-08,Banten,1,0,3,-2,2,4,0,-2
3,2020-03-09,Banten,0,0,0,0,2,4,0,-2
4,2020-03-10,Banten,0,0,8,-8,2,12,0,-10
...,...,...,...,...,...,...,...,...,...,...
11858,2021-05-08,Papua,1,0,4,-3,20411,11404,207,8800
11859,2021-05-09,Papua,17,0,18,-1,20428,11422,207,8799
11860,2021-05-10,Papua,0,0,0,0,20428,11422,207,8799
11861,2021-05-11,Papua,2,0,18,-16,20430,11440,207,8783
11862,2021-05-12,Papua,3,0,6,-3,20433,11446,207,8780

# Upload to Google Sheet

In [40]:
#!pip3 install gspread
#!pip3 install --upgrade google-api-python-client oauth2client

In [41]:
#!pip3 install gspread-dataframe

In [42]:
import gspread
from gspread_dataframe import set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials

In [43]:
####Access the Google Sheet

#filename=ServiceAccountCredentials.from_json_keyfile_name('add_json_file_here.json', scope)
####scopes= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']###
gc = gspread.service_account('c:/Users/Acer/Downloads/Google_API_Credentials/mytest-project-311420-267223638303.json')
sh = gc.open_by_key('1Hrzto96H57_8xr_3v_bBZZHDAs9dU0vv0PB9sqAZ4mw')
worksheet = sh.get_worksheet(0)

In [44]:
### clear dataset instead of append data

### CLEAR SHEET CONTENT
# Method 1
# range_of_cells = worksheet.range('A1:J11727') #-> Select the range you want to clear
# for cell in range_of_cells:
#    cell.value = ''
#    worksheet.update_cells(range_of_cells)  ###

# Method 2    
#sh.values_clear("Worksheet!A1:J11727")
sh.values_clear("'Sheet1'!A1:Z")

{'spreadsheetId': '1Hrzto96H57_8xr_3v_bBZZHDAs9dU0vv0PB9sqAZ4mw',
 'clearedRange': 'Sheet1!A1:Z11838'}

In [45]:
#### Append data to sheet
cov_prov_id = prov_id
set_with_dataframe(worksheet, cov_prov_id)